[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
ExecStart={{ redis_install_path }}/bin/redis-server /etc/redis/redis.conf
ExecStop={{ redis_install_path }}/bin/redis-cli shutdown
Restart=always
User=redis
Group=redis

[Install]
WantedBy=multi-user.target
